BASE_PATH = "/path/to/project/open-campus-object-detection"

# this api key is not valid
API_KEY = "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"


CAM_IDX = 0 # internal cam
CAM_IDX = 1 # external cam